<%= render 'shared/errors', obj: @article %>


<h1>Edit Article</h1>
<%= form_with(model: @article,local: true)  do |formx| %>
<div class="form-group">


<p>
<%= formx.label :title %>
<%= formx.text_field :title ,class:"form-control"%>
</p>

</div>
<div class="form-group">


<p>
 <%= formx.label :description %>
 <%= formx.text_area :description ,class:"form-control" %>
</p>
</div>
<p>
<%= formx.submit %>
</p>
<% end %>
